<div class="container">
<h3>Manager User</h3>
<div *ngIf="loading$ | async"><h3>Loading...</h3></div>
<div *ngIf="error$ | async"><h3>Error status: {{ error$ | async }}</h3></div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
	<tr *ngFor="let item of users$ | async" (click)="itemDetail(item)">
		<th scope="row">{{item.id}}</th>
		<td>{{item.name}}</td>
		<td>{{item.username}}</td>
		<td>{{item.email}}</td>
		<td>{{item.phone}}</td>
		<td>{{item.website}}</td>
	</tr>
  </tbody>
 </table>
 </div>
