<div class="container">
<h3>Photos Album</h3>
<div *ngIf="loading$ | async"><h3>Loading...</h3></div>
<div *ngIf="error$ | async"><h3>Error status: {{ error$ | async }}</h3></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
	<tr *ngFor="let item of photoData$ | async">
		<th scope="row">{{item.id}}</th>
		<td>{{item.title}}</td>
		<td><img [src]="item.url" ></td>
	</tr>
  </tbody>
 </table>
 <button type="button" class="btn btn-primary" (click)="back()">Back</button>
 </div>
