<div class="container">
<h3>View Detail User</h3>
<div *ngIf="loading$ | async"><h3>Loading...</h3></div>
<div *ngIf="error$ | async"><h3>Error status: {{ error$ | async }}</h3></div>
<table class="table" *ngIf="userData$ | async as userData">
	<tbody>
		<tr>
			<td><strong>ID: </strong></td>
			<td>{{userData.id}}</td>
		</tr>
		<tr>
			<td><strong>Name: </strong></td>
			<td>{{userData.name}}</td>
		</tr>
		<tr>
			<td><strong>Username: </strong></td>
			<td>{{userData.username}}</td>
		</tr>
		<tr>
			<td><strong>Email: </strong></td>
			<td>{{userData.email}}</td>
		</tr>		
	</tbody>
</table>
<div >
	<app-albums [albums]="albumData$ | async" [userid]="id" [loading]="loadingAl$ | async" [error] ="errorAl$ | async"></app-albums>
</div>
<button type="button" class="btn btn-primary" (click)="back()">Back</button>
</div>